.icheck{
	height: 34px;
    display: inline-block;
}
.show-browse{
	display:inline-block;
	width:100px;
	height:100px;
	position: relative;
	padding: 5px;
    border: 1px solid #e5e5e5;
    background: #fff;
}
.show-browse img{
	position: absolute;
	top:0;left:0;
	bottom:0;right:0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
.modal-backdrop{
	display: none;
}
.modal.flex-modal{
	display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.modal .box .box-footer>div{
	width: 100%;
}
.modal .box .box-footer>div>label,
.modal .box .box-tools{
	display: none;
}
.modal .box{
	border-top:0;
	width: 520px;
}